requests
pydub

pydantic
soundfile
flash-attention
numpy>=1.23.5<2
scipy
tensorboard
librosa>=0.9.2
numba
pytorch-lightning
gradio>=4.29
gradio_client
ffmpeg-python
onnxruntime
tqdm
funasr==1.0.0
cn2an
pypinyin
pyopenjtalk
g2p_en
torchaudio
modelscope>=1.10.0
sentencepiece
transformers
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment @ git+https://github.com/JaccoSu/juntaosun_LangSegment
Faster_Whisper
fastapi 
uvicorn
wordsegment
srt

pyloudnorm